.c-fighter-grid {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .container {
        .row {
            --bs-gutter-x: 1rem;
		    --bs-gutter-y: 1rem;
            @include media-breakpoint-down(md) {
                --bs-gutter-x: 0.5rem;
		        --bs-gutter-y: 0.5rem;
            }
        }
    }
}